<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visio-Shapes Panel</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/design.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css') }}">
  {% block extra_head %}{% endblock %}
</head>
<body>
  {% block content %}{% endblock %}
  {% block scripts %}{% endblock %}
</body>
</html>
